@import "./vars";

#wechat-menu {
    * {
        box-sizing: border-box;
        font-size: 15px;
    }

    .btn {
        border: 1px solid $grey;
        background: #fff;
        outline: 0;
        padding: 10px 20px;
        cursor: pointer;
        border-radius: 3px;
        word-break: keep-all;

        &:hover:not([disabled]) {
            background: $grey;
        }

        &[disabled] {
            color: $grey-1;
        }
    }

    .btn-primary {
        border: none;
        background: $main-color;
        color: white;

        &:hover:not([disabled]) {
            background: #3a963e;
        }

        &[disabled] {
            background-color: #7fd083;
            color: #fff;
        }
    }

    .btn-danger {
        border: none;
        background: $danger-color;
        color: white;

        &:hover:not([disabled]) {
            background: #d46060;
        }

        &[disabled] {
            background-color: #ff998d;
            color: #fff;
        }
    }

    .btn-sm {
        padding: 6px 10px;
    }

    .btn[disabled] {
        cursor: not-allowed;
    }

    a {
        text-decoration: none;
        color: #576b95;
    }

    .pull-right {
        float: right !important;
    }

    .pull-left {
        float: left !important;
    }

    .input {
        height: 35px;
        border: $grey-border;
        padding: 0 0 0 10px;
        outline: 0;
        width: 350px;
        border-radius: 3px;

        &:focus {
            border-color: #cdcdcd;
        }

        &.has-error {
            border-color: $danger-color;
        }
    }

    .cursor-pointer {
        cursor: pointer;
        user-select: none;
    }

    .grey-1 {
        color: $grey-1;
    }

    .grey {
        color: $grey;
    }

    .label {
        display: inline-block;
        height: 40px;
        line-height: 40px;
        margin-right: 10px;
        vertical-align: middle;
    }

    .form-item {
        + .form-item {
            margin-top: 20px;
        }

        .content {
            display: inline-block;
            position: relative;
            vertical-align: middle;
        }

        .error-text {
            position: absolute;
            color: $danger-color;
            font-size: 14px;
        }
    }

    table {
        border-collapse: collapse;

        border: $grey-border;
        width: 100%;
    }

    td,
    th {
        padding: 5px 10px;
        height: 45px;
        border: $grey-border;
        text-align: left;
    }

    textarea {
        font-family: 'Arial';

        &.input {
            height: auto;
            padding: 10px;
            min-height: 40px;
        }
    }

    .table-input {
        width: 100% !important;
    }

    .table-footer {
        text-align: center;
        color: $grey-1;
        padding: 20px 0;
        border: $grey-border;
        border-top: none;
    }

    .radio-group {
        padding: 0 5px;
        line-height: 30px;
        min-height: 30px;
        border: 1px solid transparent;

        &.has-error {
            border: 1px solid $danger-color;
            border-radius: 3px;
        }
    }
}
