@import "./vars";

#wechat-menu {
    td {
        .wm-form-item {
            &.wm-inline {
                .wm-content {
                    width: auto;
                }
            }
        }
    }

    .wm-form-item {
        margin-bottom: 20px;

        .wm-content {
            width: 100%;
            display: block;
            position: relative;
        }

        .wm-error-text {
            position: absolute;
            display: block;
            color: $danger-color;
            font-size: 14px;
        }

        &.wm-inline {
            .wm-content {
                display: inline-block;
                vertical-align: middle;
                width: 350px;
            }
        }

        &.wm-has-error {
            .wm-input {
                border-color: $danger-color;
            }

            .wm-radio-group {
                border-color: $danger-color;
            }

            &.wm-media-picker {
                .wm-content {
                    a {
                        color: $danger-color !important;
                    }
                }
            }
        }

        &.wm-media-picker {
            .wm-error-text {
                display: inline;
                position: initial;
            }
        }

        &.wm-error-inside {
            .wm-error-text {
                right: 12px;
                top: 8px;
                pointer-events: none;
                background: #fff;
            }
        }

        &.wm-w-select {
            &.wm-error-inside {
                .wm-error-text {
                    right: 20px;
                }
            }
        }

        .wm-label {
            display: inline-block;
            height: 40px;
            line-height: 40px;
            margin-right: 10px;
            vertical-align: middle;
        }

        .wm-radio-group {
            padding: 0 5px;
            line-height: 30px;
            min-height: 30px;
            border: 1px solid transparent;
            border-radius: 3px;
        }

        &.wm-radio-item {
            .wm-content {
                width: auto;
            }
        }
    }
}
