@import "./vars";

#wechat-menu {
    .form-item {
        + .form-item {
            margin-top: 20px;
        }

        .content {
            width: 100%;
            display: inline-block;
            position: relative;
            vertical-align: middle;
        }

        .error-text {
            position: absolute;
            color: $danger-color;
            font-size: 14px;
        }

        &.inline {
            .content {
                width: auto;
            }
        }

        &.has-error {
            .input {
                border-color: $danger-color;
            }
        }
    }
}
