#wechat-menu td .form-item.inline .content {
  width: auto;
}

#wechat-menu .form-item + .form-item {
  margin-top: 20px;
}

#wechat-menu .form-item .content {
  width: 100%;
  display: block;
  position: relative;
}

#wechat-menu .form-item .error-text {
  position: absolute;
  color: #f86161;
  font-size: 14px;
}

#wechat-menu .form-item.inline .content {
  display: inline-block;
  vertical-align: middle;
  width: 350px;
}

#wechat-menu .form-item.has-error .input {
  border-color: #f86161;
}

#wechat-menu .form-item.has-error .radio-group {
  border-color: #f86161;
}

#wechat-menu .form-item.error-inside .error-text {
  right: 12px;
  top: 8px;
}

#wechat-menu .form-item .label {
  display: inline-block;
  height: 40px;
  line-height: 40px;
  margin-right: 10px;
  vertical-align: middle;
}

#wechat-menu .form-item .radio-group {
  padding: 0 5px;
  line-height: 30px;
  min-height: 30px;
  border: 1px solid transparent;
  border-radius: 3px;
}

#wechat-menu .form-item.radio-item .content {
  width: auto;
}

#wechat-menu * {
  box-sizing: border-box;
  font-size: 15px;
}

#wechat-menu .btn {
  border: 1px solid #e7e7eb;
  background: #fff;
  outline: 0;
  padding: 10px 20px;
  cursor: pointer;
  border-radius: 3px;
  word-break: keep-all;
}

#wechat-menu .btn:hover:not([disabled]) {
  background: #e7e7eb;
}

#wechat-menu .btn[disabled] {
  color: #8d8d8d;
}

#wechat-menu .btn-primary {
  border: none;
  background: #44b549;
  color: white;
}

#wechat-menu .btn-primary:hover:not([disabled]) {
  background: #3a963e;
}

#wechat-menu .btn-primary[disabled] {
  background-color: #7fd083;
  color: #fff;
}

#wechat-menu .btn-danger {
  border: none;
  background: #f86161;
  color: white;
}

#wechat-menu .btn-danger:hover:not([disabled]) {
  background: #d46060;
}

#wechat-menu .btn-danger[disabled] {
  background-color: #ff998d;
  color: #fff;
}

#wechat-menu .btn-sm {
  padding: 6px 10px;
}

#wechat-menu .btn[disabled] {
  cursor: not-allowed;
}

#wechat-menu a {
  text-decoration: none;
  color: #576b95;
}

#wechat-menu .pull-right {
  float: right !important;
}

#wechat-menu .pull-left {
  float: left !important;
}

#wechat-menu .input {
  height: 35px;
  border: 1px solid #e7e7eb;
  padding: 0 0 0 10px;
  outline: 0;
  border-radius: 3px;
  width: 100%;
}

#wechat-menu .input:focus {
  border-color: #cdcdcd;
}

#wechat-menu .cursor-pointer {
  cursor: pointer;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

#wechat-menu .grey-1 {
  color: #8d8d8d;
}

#wechat-menu .grey {
  color: #e7e7eb;
}

#wechat-menu table {
  border-collapse: collapse;
  border: 1px solid #e7e7eb;
  width: 100%;
}

#wechat-menu td,
#wechat-menu th {
  padding: 5px 10px;
  height: 45px;
  border: 1px solid #e7e7eb;
  text-align: left;
}

#wechat-menu textarea {
  font-family: "Arial";
}

#wechat-menu textarea.input {
  height: auto;
  padding: 10px;
  min-height: 40px;
}

#wechat-menu .footer-toolbar {
  text-align: center;
  color: #8d8d8d;
  padding: 20px 0;
  border: 1px solid #e7e7eb;
  border-top: none;
}

#wechat-menu .vertical-middle {
  display: inline-block;
  vertical-align: middle;
}

