#wechat-menu * {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

#wechat-menu .btn {
  border: 1px solid;
  outline: 0;
  padding: 10px 20px;
  cursor: pointer;
  border-radius: 3px;
}

#wechat-menu .btn-primary {
  background: #44b549;
  border-color: #44b549;
  color: white;
}

#wechat-menu .btn-primary:hover:not([disabled]) {
  background: #3a963e;
}

#wechat-menu .btn-primary[disabled] {
  background-color: #7fd083;
}

#wechat-menu .btn[disabled] {
  cursor: not-allowed;
}

#wechat-menu a {
  text-decoration: none;
  color: #576b95;
}

#wechat-menu .pull-right {
  float: right !important;
}

#wechat-menu .pull-left {
  float: left !important;
}

#wechat-menu input.input {
  height: 35px;
  border: 1px solid #e7e7eb;
  padding: 0 0 0 10px;
  font-size: 15px;
  outline: 0;
  width: 350px;
  border-radius: 3px;
}

#wechat-menu input.input:focus {
  border-color: #cdcdcd;
}

